@keyframes ldio-jke0crnnh {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-jke0crnnh div { box-sizing: border-box!important }
  .ldio-jke0crnnh > div {
    position: absolute;
    width: 54.269999999999996px;
    height: 54.269999999999996px;
    top: 73.365px;
    left: 73.365px;
    border-radius: 50%;
    border: 2.01px solid #000;
    border-color: #0d59e0 transparent #0d59e0 transparent;
    animation: ldio-jke0crnnh 1.5873015873015872s linear infinite;
  }
  
  .ldio-jke0crnnh > div:nth-child(2), .ldio-jke0crnnh > div:nth-child(4) {
    width: 46.23px;
    height: 46.23px;
    top: 77.38499999999999px;
    left: 77.38499999999999px;
    animation: ldio-jke0crnnh 1.5873015873015872s linear infinite reverse;
  }
  .ldio-jke0crnnh > div:nth-child(2) {
    border-color: transparent #e21616 transparent #e21616
  }
  .ldio-jke0crnnh > div:nth-child(3) { border-color: transparent }
  .ldio-jke0crnnh > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-jke0crnnh > div:nth-child(3) div:before, .ldio-jke0crnnh > div:nth-child(3) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 2.01px;
    height: 2.01px;
    top: -2.01px;
    left: 24.119999999999997px;
    background: #0d59e0;
    border-radius: 50%;
    box-shadow: 0 52.25999999999999px 0 0 #0d59e0;
  }
  .ldio-jke0crnnh > div:nth-child(3) div:after {
    left: -2.01px;
    top: 24.119999999999997px;
    box-shadow: 52.25999999999999px 0 0 0 #0d59e0;
  }
  
  .ldio-jke0crnnh > div:nth-child(4) { border-color: transparent; }
  .ldio-jke0crnnh > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-jke0crnnh > div:nth-child(4) div:before, .ldio-jke0crnnh > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 2.01px;
    height: 2.01px;
    top: -2.01px;
    left: 20.099999999999998px;
    background: #e21616;
    border-radius: 50%;
    box-shadow: 0 44.22px 0 0 #e21616;
  }
  .ldio-jke0crnnh > div:nth-child(4) div:after {
    left: -2.01px;
    top: 20.099999999999998px;
    box-shadow: 44.22px 0 0 0 #e21616;
  }
  .loadingio-spinner-double-ring-g6pja5v7rtb {
    width: 201px;
    height: 201px;
    display: inline-block;
    overflow: hidden;
    background: rgb(34, 34, 34);
    margin: auto;
  }
  .ldio-jke0crnnh {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-jke0crnnh div { box-sizing: content-box; }